page-results {
    .content {
        background-color: map-get($colors, 'primary');
        background-image: url('/assets/gb/results-bg.png');
        background-position: center center;
        background-size: cover;
    }

    .gb-results--title {
        background-image: url('/assets/gb/results-title.png');
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        color: transparent;
        width: 100%;
        height: 40px;
    }

    .gb-results--content {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: map-get($colors, 'light');
    }

    .gb-results--score {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
